@import 'vars'; // переменные
@import 'vendor/reset'; // сброс стилей

html {
  font-size: 62.5%;
}

body {
  background-color: #181818;
  font-size: 1.4rem;
  color: $white;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Blocks */
@import 'blocks/page';
@import 'blocks/header';
@import 'blocks/nav';
@import 'blocks/subnav';
@import 'blocks/search';
@import 'blocks/sidebar';
@import 'blocks/main';
@import 'blocks/container';
@import 'blocks/profile';
@import 'blocks/social';
@import 'blocks/btn';
@import 'blocks/stories';
@import 'blocks/add-post';
@import 'blocks/post';
@import 'blocks/embed';
@import 'blocks/pagination';
@import 'blocks/related';
@import 'blocks/comments';
@import 'blocks/form';
@import 'blocks/work';
@import 'blocks/tags';
@import 'blocks/cabinet';
