.embed,
.fr-video {
  position: relative;
  display: block;

  overflow: hidden;

  &:before {
    content: "";
    display: block;
    padding-top: 56.25%; //правильная пропорция, видео без черных полосок по краям!
  }

  iframe,
  video,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}
