.header {
  display: flex;
  width: calc(100% - #{$sidebar-width});
  box-shadow: 0 5px 22px rgba($black, .25);
  background-color: #0D0D0D;
  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-header;

  @include breakpoint($tablet-bp) {
    width: 100%;
  }
}

.header__left {
  width: 60%;

  @include breakpoint($tablet-bp) {
    width: 40%;
  }
}

.header__right {
  width: 40%;
  display: flex;
  justify-content: flex-end;

  @include breakpoint($tablet-bp) {
    width: 60%;
  }
}
