.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; // нам не надо гориз. скролл!
  min-height: 100vh;
}

.page__title {
  font-size: 2.1rem;
  color: $white;
  margin-bottom: 3rem;

  &--center {
    text-align: center;
  }
}
