.pagination {
  display: flex;
  justify-content: center;
  margin-top: 8rem;

}

.pagination__item {
  margin: 0 .5rem;
}

.pagination__link {
  display: block;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: #0D0D0D;
  border-radius: 3px;
  text-decoration: none;
  color: $white;
  font-size: 1.4rem;
  box-shadow: 0 0 10px rgba($black, .15);
  transition: background-color .2s linear;

  &.active {
    background-color: $blue;
    box-shadow: 0 0 10px rgba($blue, .15);
  }

  &:hover {
    background-color: lighten(#0D0D0D, 2%);
  }



}
