.profile {
  margin-top: -5rem;
  position: relative;

  @include breakpoint($tablet-bp) {
    margin-top: -1rem;
  }
}

.profile__avatar {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  border: 2px solid $white;
  box-shadow: 0 7px 20px rgba($black, .25);
  border-radius: 50%;
  margin: 0 auto 2rem;

  @include breakpoint($tablet-bp) {
    width: 6.5rem;
    height: 6.5rem;
    margin-left: 0;
    position: absolute;
    left: 0;
  }
}

.profile__header {
  margin-bottom: 2rem;
  text-align: center;

  @include breakpoint($tablet-bp) {
    padding-top: 2rem;
    padding-left: 8rem;
    text-align: left;
  }
}

.profile__name {
  color: $white;
  font-size: 1.8rem;

  @include breakpoint($tablet-bp) {
    font-size: 1.5rem;
  }
}

.profile__prof {
  font-size: 1.3rem;
  font-weight: 300;
  color: #dedede;

  @include breakpoint($tablet-bp) {
    font-size: 1.2rem;
  }
}

.profile__text {
  padding: 3rem 0;
  margin: 3rem 0;
  font-size: 1.4rem;
  text-align: center;
  border-top: 2px solid #1C1C1C;
  border-bottom: 2px solid #1C1C1C;

  @include breakpoint($tablet-bp) {
    display: none;
  }
}
