.related {
  padding-bottom: .5rem;
  border-bottom: 1px solid #1C1C1C;
}

.related__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include breakpoint($mobile-bp) {
    flex-direction: column;
  }
}

.related__list-item {
  width: 50%;
  margin-bottom: 2.5rem;

  @include breakpoint($mobile-bp) {
    width: 100%;
  }
}

.related__list-title {
  font-size: 1.4rem;
  color: #F3EBA2;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.related__list-date {
  color: #828282;
  font-size: 1.2rem;
}
