.sidebar {
  width: $sidebar-width;
  height: 100vh;
  background-color: #daaaaa;
  position: fixed;
  background-color: $primary;
  box-shadow: 5px 0 15px rgba(#050505, .1);
  top: 0;
  left: 0;
  z-index: $z-index-sidebar;
}

.sidebar__header {
  height: 180px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: $secondary;

  }
}

.sidebar__content {
  padding: 0 2rem;
  margin-top: -6rem;
}

.sidebar__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;

}
