<div class="modal">
  <div class="modal__content modal__content--contact">

    <button class="modal__close" type="button">
      <img src="assets/images/icons/close.svg" alt="Закрыть">
    </button>

    <form class="form" action="/" method="post">
      <div class="form__group form__group--md">
        <input class="form__control" type="text" placeholder="Ваше имя">
        <span class="form__line"></span>
      </div>

      <div class="form__group form__group--md">
        <input class="form__control" type="email" placeholder="Ваш e-mail">
        <span class="form__line"></span>
      </div>

      <div class="form__group form__group--md">
        <textarea class="form__control form__control--textarea" placeholder="Ваше сообщение"></textarea>
        <span class="form__line"></span>
      </div>

      <div class="form__footer">
        <div class="form__group form__group--md">

          <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>

        </div>
      </div>

    </form>
    <ul class="modal__footer">
      <li>
        e-mail: <a href="mailto:mail@mail.ru">mail@mail.ru</a>
      </li>
      <li>
        тел: <a href="tel:+74993223232">+7499 322-32-32</a>
      </li>
    </ul>
  </div>
  <!--/.modal__content-->
</div>
<!--/.modal-->
