<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/">Главная</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="">Статьи</a>
          <ul class="subnav">
            <li><a class="subnav__link" href="#">Создание сайтов</a></li>
            <li><a class="subnav__link" href="#">Интернет маркетинг</a></li>
            <li><a class="subnav__link" href="">Продвижение видео</a></li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Обо мне</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="works.html">Работы</a>
        </li>
      </ul>
    </nav>

  </div>
  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="profile.html">Профиль</a>
        </li>
      </ul>
    </nav>
    <form class="search" action="search.html" method="get">
      <input class="search__input" type="text" placeholder="Поиск по сайту">
    </form>

  </div>
</header>
