<div class="modal">
  <div class="modal__content">

    <button class="modal__close" type="button">
      <img src="assets/images/icons/close.svg" alt="Закрыть">
    </button>
    <ul class="social">
      <li class="social__item">
        <a class="social__link" href="">
          <img src="assets/images/icons/telegram.svg">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="">
          <img src="assets/images/icons/twitter.svg">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="">
          <img src="assets/images/icons/pinterest.svg">
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="">
          <img src="assets/images/icons/copy.svg">
        </a>
      </li>
    </ul>

  </div>
  <!--/.modal__content-->
</div>
<!--/.modal-->
