<aside class="sidebar">
  <div class="sidebar__header">
    <picture>
      <source srcset="assets/images/sidebar_header.webp" type="image/webp">
      <img src="assets/images/sidebar_header.jpg" alt="">
    </picture>

  </div>
  <div class="sidebar__content">
    <div class="profile">
      <picture>
        <source srcset="assets/images/me.webp" type="image/webp">
        <img class="profile__avatar" src="assets/images/me.jpg" alt="">
      </picture>

      <div class="profile__header">
        <div class="profile__name">
          Кирилл Засорин
        </div>
        <div class="profile__prof">
          блог front-end разработчика
        </div>
      </div>




      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="" target="_blank">
            <img src="assets/images/icons/telegram.svg" alt="Кирилл Засорин в Telegram">
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="" target="_blank">
            <img src="assets/images/icons/twitter.svg" alt="Кирилл Засорин в twitter">
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="" target="_blank">
            <img src="assets/images/icons/pinterest.svg" alt="Кирилл Засорин в Pinterest">
          </a>
        </li>
      </ul>
      <div class="profile__text">
        <p>
          Front-end разработчик. Практик верстки сайтов.
          Созданием сайтов занимаюсь с 2016 года. Работал в нескольких ИТ компаниях и наработал более 5 000 часов в создании сайтов различной сложности.
        </p>
      </div>

    </div> <!-- profile -->
    <nav class="nav nav--mobile">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="/">Главная</a>
        </li>
        <li class="nav__item">
          <a class="nav__link has-subnav" href="">Статьи</a>
          <ul class="subnav">
            <li><a class="subnav__link" href="#">Создание сайтов</a></li>
            <li><a class="subnav__link" href="#">Интернет маркетинг</a></li>
            <li><a class="subnav__link" href="">Продвижение видео</a></li>
          </ul>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="works.html">Работы</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="text.html">Обо мне</a>
        </li>

      </ul>
    </nav>
  </div><!-- /sidebar__content -->
  <div class="sidebar__footer">
    <a class="btn btn--red" href="works.html">Мои работы</a>
    <form action="https://t.me/kirillZ" target="_blank">
      <button class="btn btn--blue" type="submit">Написать мне</button>
    </form>

  </div>
</aside>
